@import "nativescript-theme-core/css/purple.css";

﻿Page {
    background-color: darkcyan;
}

StackLayout {
    background-color: black;
}

ActionItem {
    font-size: 36;
}

.inprogress {
    background-color: darkcyan;
}
